<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="margin">
    <div class="margin">
        <label for="upload">
            <button mat-raised-button color="primary" [disabled]="loading" (click)="fileUpload.click()"  >Upload3</button>
            <input type="file" id="upload" multiple style="display:none" (change)="onUpload($event)" #fileUpload>
        </label>
    </div>
    <mat-divider class="padding"></mat-divider>
    <div *ngIf="fileName.length==0">
    {{"No file uploaded yet."}}
    </div>
    <div *ngIf="fileName.length!=0">
        <div *ngFor="let name of fileName">{{name}}</div>
    </div>
</div>
